<div class="page-container">
    <div class="empty-div"><h1>Mini Project Main Screen</h1></div>
    <div class="page-header">
        <mat-card class="mat-card">
            <mat-card-title class="text-center"><b>Screen</b></mat-card-title>
            <mat-card-actions class="d-flex">
                <button type="button" (click)="route(1)" mat-raised-button color="primary">Weather</button>
                <button type="button" (click)="route(2)" mat-raised-button color="primary">Currancy</button>
                <button type="button" (click)="route(3)" mat-raised-button color="primary">Temprature</button>
            </mat-card-actions>
          </mat-card>
    </div>

</div>